/* Clovis Perreault */
/* Chris Boukongou */

/* Divers */
body{
    background-image: url("../images/fond.jpeg");
    background-size: 25%;
}

/* Entête avec menu */


/* Contenu principal */

div#section-aide {
    display: none;
}

div#aide-icon:hover div#section-aide {
    display: block;
}


/* Boite aparté avec les listes */


/* Pied de page */

