/* Clovis Perreault */
/* Chris Boukongou */
/**

*/

/* Divers */
body {
    background-image: url("../Images/fond.jpeg");
    background-size: 25%;
}

/* Entête avec menu */

header {
    background-color: khaki;
    border-top: blueviolet solid 3px;
    border-bottom: blueviolet solid 6px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

header img {
    float: left;
    width: 150px;
}


#menu  ul{
    float: left;
    font-family: 'Courier New';
    width: 65%;  
    border-left: 5px;
    border-top: 5px;
}

#menu ul li{
    display: inline;
    height: 40px;
    margin: 20px;
    font-family: 'Times New Roman';
    text-transform : uppercase;
    font-size: large;
}

#menu ul li a{
    
    text-decoration: none;
    color: black;
    padding: 20px;
}

#menu ul li a:hover{
    border: 2px brown solid;
    box-shadow: 5px 5px 30px brown;
}

#menu #aide-icon {
    display: inline;
   
    padding: 5px;
    margin: 30px;
    width: 50px;
}

#aide-icon:hover{
    border: 2px brown solid;
    box-shadow: 5px 5px 30px brown;
    
}

header img {
    float: left;
    width: 150px;
}

header div ul {
    position: relative;
    left: 5px;
    top: 5px;
    width: 65%;
    list-style-type: none;
}

header div ul li {
    display: inline;
    height: 40px;
    margin: 20px;
}

div#menu {
    font-family: "Courier New";
}

div#section-aide {
    display: none;
}

div#aide-icon:hover div#section-aide {
    display: block;
    background-color: khaki;
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    padding: 30px;
    opacity: 95%;
    border: blueviolet 2px solid;
    overflow: hidden;
}

header {
    z-index: 1;
}

div#aide-icon {
    display: inline;

}

/*
#section-aide {
    display: none;
}

div#aide-icon:hover #section-aide {

    background-color: khaki;
    border: 2px solid blueviolet;
    padding: 30px;
    opacity: 95%;
    display: block;
}
*/

/* Contenu principal */

#contenu-principal {
    margin-top: 130px;
    padding: 50px;
}

#contenu-principal p {
    font-size: 22px;
}

#contenu-principal h1 {
    margin-left: 320px;
    background-color: khaki;
    border: blueviolet 2px solid;
    color: brown;
    position: sticky;
    top: 130px;
}

#contenu-principal h1 + p:first-letter, #contenu-principal img + p:first-letter {
    font-size: 44px;
    float: left;
    margin-right: 5px;
    color: brown;
}

#contenu-principal img {
    float: left;
    height: 100px;
    margin: 15px;
    border: black 1px solid;
    outline: brown 5px dotted;
}

aside {
    float: left;
    width: 250px;
    height: 800px;
    border-radius: 20px;
    background-color: brown;
    margin: 30px;
    padding: 10px;
    color: white;
    border: grey 3px solid;
}

/* Boite aparté avec les listes */


/* Pied de page */

footer {
    background-color: khaki;
    width: 100%;
    padding: 5px;
    bottom: 0;
    position: sticky;
}
